DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

PROD_DB_HOST=
PROD_DB_PORT=5432
PROD_DB_USER=postgres
PROD_DB_PASSWORD=
PROD_DB_NAME=

TEST_DB_HOST=localhost
TEST_DB_PORT=5432
TEST_DB_USER=postgres
TEST_DB_PASSWORD=
TEST_DB_NAME=

DATABASE_URL=


ADMIN_NAME=Admin
ADMIN_LASTNAME=User
ADMIN_EMAIL=admin@venejob.com
ADMIN_PASSWORD=Admin@123

JWT_SECRET=YourSecret
JWT_EXPIRES_IN=1h
